<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <springProperty scope="context" name="logstashHost" source="logging.logstash-host"/>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="application"/>

    <property name="LOG_PATH" value="/var/log/${appName}"/>
    <property name="LOG_FILE" value="${LOG_PATH}/${appName}.log"/>
    <property name="LOG_FILE_PATTERN" value="${LOG_PATH}/${appName}-%d.%i.log"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger level="info" name="com.github.isrsal.logging.LoggingFilter"/>

    <springProfile name="default">

        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${logstashHost}</destination>
            <!--
            https://github.com/logfellow/logstash-logback-encoder/issues/54

            https://blog.csdn.net/pan4609/article/details/114653776
            -->
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"serviceId":"sss", "appname": "${appName}", "tags": ["test"]}</customFields>
                <!--<customFields>{"serviceId":"sss", "tags": ["flink_cdc"]}</customFields>-->
                <!--<provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                    <pattern>
                        {
                        "tags": ["cdc"]
                        }
                    </pattern>
                </provider>-->
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>


</configuration>